@import '@/styles/lightEffect';
@import '@/styles/mediaQueries';

.workExperience {
	padding: 450px 14% 390px 14%;
	overflow: hidden;

	&__detail {
		display: flex;
		column-gap: 28px;

		&__box {
			width: 1080px;

		}

		&__lightEffect {
			position: relative;

			&:before {
				@include lightEffect(600px, 400px, 100px, #2F1818) {
					z-index: -1;
					transform: translateX(35%) translateY(48%);
					right: 0;
				}
			}
		}
	}
}

@include lg-media {
	.workExperience {
		padding: 450px 8% 390px 8%;

	}
}

@include sm-media {
	.workExperience {
		padding: 240px 0 300px 0;

		&__detail {
			flex-direction: column;

			&__box {
				width: 100%;
			}

			&__lightEffect {
				position: relative;

				&:before {
					@include lightEffect(60px, 200px, 100px, $yellow) {
						z-index: -1;
						transform: translateX(0%) translateY(-200%);
					}
				}
			}

		}
	}
}