$yellow:#f1c40f;
$light-gray:#b6b5ab;
$gray:#a3a3a3;
$dark-gray:#545450;
$white:#cdcdcd;
$light-black:#484848;
$black:#242424;
$hover-gray:#ebeae7;
$transition: 0.2s ease-in-out;
$small-br:576px;
$medium-br:768px;
$large-br:992px;
$extra-large-br:1200px;
