@import '@/styles/mediaQueries';

.company {
	display: flex;
	flex-direction: column;
	padding: 0;
	color: $light-gray;
	list-style: none;
	font-size: 22px;
	line-height: 26px;
	transition: $transition;

	span {
		display: inline-block;
		padding-left: 43px;

	}

	li {
		border-left: 1px solid #68675e;
		display: flex;
		align-items: center;
		transition: $transition;
		width: 246px;
		height: 84px;

		&:hover {
			-webkit-backdrop-filter: blur(50px);
			backdrop-filter: blur(50px);
			background-color: rgba(255, 255, 255, 0.07);
			color: $yellow;
			cursor: pointer;
		}
	}

	&__active {
		position: relative;
		-webkit-backdrop-filter: blur(50px);
		backdrop-filter: blur(50px);
		background-color: rgba(255, 255, 255, 0.07);
		color: $yellow;


		&:before {
			left: -2.5px;
			top: 0;
			width: 2px;
			height: 98%;
			border-radius: 4px;
			border: solid 1px rgba(0, 0, 0, 0);
			background-color: $yellow;
			content: '';
			position: absolute;
		}
	}
}

@include xl-media {
	.company {
		li {
			width: 227px;
			height: 69px;
		}
	}
}

@include lg-media {
	.company {
		min-width: 120px;

		li {
			width: fit-content;
		}

		span {
			padding-right: 16px;

		}
	}
}

@include md-media {
	.company {
		min-width: 80px;

		span {
			padding-left: 8px;
		}
	}
}

@include sm-media {
	.company {
		flex-direction: row;
		overflow-x: scroll;
		-ms-overflow-style: none;
		scrollbar-width: none;

		&::-webkit-scrollbar {
			display: none;
		}

		li {
			justify-content: center;
			border-left: 0;
			border-bottom: 1px solid #68675e;
			min-width: 174px;
			flex-grow: 1;

			&:hover {
				-webkit-backdrop-filter: 0;
				backdrop-filter: 0;
				background-color: transparent;
				color: $light-gray;
				cursor: auto;
			}
		}

		span {
			padding: 0;
		}

		&__active {

			&:before {
				left: 0px;
				top: 98%;
				width: 100%;
				height: 2px;
				z-index: 10;
				border-radius: 0;
				border: 0;
			}
		}

	}
}