@import '@/styles/mediaQueries';

.header {
    display: flex;
    justify-content: space-between;
    padding: 61px 142px 0 142px;

    &__square {
        height: 57px;
        width: 57px;
        border: solid 4px $yellow;
        transform: rotate(60deg);
        box-shadow: 0 18px 30px 0 rgba(255, 204, 0, 0.3);
        transition: $transition;



        &:hover {
            box-shadow: 0 18px 30px 0 rgba(255, 204, 0, 0.5);

        }
    }

    &__buttons {
        display: flex;
        column-gap: 102px;

    }
}

@include lg-media {
    .header {
        &__buttons {
            display: none;
        }
    }
}

@include xl-media {
    .header {
        padding: 61px 32px 0 46px;
    }
}

@include md-media {
    .header {
        &__square {
            &:before {
                width: 120%;
                height: 130%;
                position: absolute;
                -webkit-filter: blur(100px);
                filter: blur(100px);
                background-color: $yellow;
                content: '';
            }
        }
    }
}